Shirobot/config.py
Shirobot/*.session
Shirobot/*.session-journal
Shirobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Shirobot/modules/helper_funcs/temp.txt
Shirobot/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
Shirobot.session-journal
updates.txt
*.exe
